*{
    font-family: montserrat;
    margin: 0px;
    padding: 0px;
    
}

/* ------------------------ Background --------------------------------  */
.hero{
    width: 100%;
    background: radial-gradient(#00000000, #0000007a), url(/MyCreations/BubblessAnimation/forest-grass-fog-trees-foliage.jpg);
    height: 100vh;
    background-size: cover;
    background-position: top;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-origin: padding-box;
    position: relative;
    overflow: hidden;
}

/* ------------------------ End Background --------------------------------  */

/* ------------------------ Nav Bar --------------------------------  */
.logo{
    width: 150px;
    cursor: pointer;
}

#navbar{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menulink{
    width: 70%;
    margin-right: 25px;
}

ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

ul li a{
    color: white;
    text-decoration: none;
    list-style: none;
    padding-left: 25px;
}


#navBtn{
    color: rgb(255, 255, 255);
    padding: 10px 25px;
    border-radius: 35px;
    background: transparent;
    outline: none;
    border: 1px solid white;
    cursor: pointer;
    transition: .3s ease;
    width: 130px;
    margin-left: 25px;
}

#navBtn:hover{
    color: #000000;
    background: white;
    transform: scale(1.1);
}
button{
    color: rgb(255, 255, 255);
    padding: 10px 25px;
    border-radius: 35px;
    background: transparent;
    outline: none;
    border: 1px solid white;
    cursor: pointer;
    transition: .3s ease;
    width: 130px;
}
button:hover{
    color: #000000;
    background: white;
    transform: scale(1.1);
}

/* ------------------------ End Nav Bar --------------------------------  */

/* ------------------------ Container -------------------------------- */ 


.container{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 18%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.container small{
    color:#d9dbee;
    letter-spacing: 15px;
    margin-left: 10px;
}
.container span{
    color:#d9dbee;
    font-size: 75px;
    font-weight: 500;
    letter-spacing: 1px;
    display: flex;
    flex-wrap: wrap;
}  

.container h1{
    max-width: 75%;
    margin: 10px 0px 35px ;
    color: #d9dbee;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 43px;
}
/* ------------------------ End Container -------------------------------- */


 /* ------------------------ Side Bar ----------------------------------- */ 

    .side-bar{
        width: 60px;
        height: 100vh;
        position: absolute;
        top: 0px;
        right: 0px;

    }
    #linkBtn{
        display: none;
    }


    .social-media{ 
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .about{ 
        position: absolute;
        bottom: 25px;
    }

    .fa{
        text-align: center;
        display: flex; 
        width: 16px;
        height: 16px;
        color: #ffffff;
        border: 1px solid #ffffff;
        border-radius: 50%;
        padding: 8px;
        margin: 10px 10px;
        transition: .3s ease;
        cursor: pointer;
    }

    
    .fa:hover{
        color: #ffffff;
        border: 1px solid #ffffff;
    }
/* -------------------- End Side Bar  -------------------------------- */ 


/* -------------------- Bobbles  ------------------------------------- */

        .bubbles img{
            width: 8px;
            animation: bubbles 10s infinite ;
        }

        .bubbles{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            position: absolute;
            bottom: -105px;
        }

        @keyframes bubbles{
            0%{
                transform: translateY(-100vh);
                opacity: .2;
            }
            25%{
                opacity: 1;
            }
            50%{
                opacity: 1;
            }

            75%{
                opacity: .4;
            }
            100%{
                transform: translateY(0);
                opacity: 0;
            }
        }

        .bubbles img:nth-child(1){
            animation-delay: 2s;
            width: 5px;
        }
        .bubbles img:nth-child(2){
            animation-delay: 3.5s ;
        }
        .bubbles img:nth-child(3){
            animation-delay: 5s;
            width: 6px;
        }
        .bubbles img:nth-child(4){
            animation-delay: 7s;
        }
        .bubbles img:nth-child(5){
            animation-delay: 6.5s;
            width: 7px;
        }
        .bubbles img:nth-child(6){
            animation-delay: 4.5s;
            width: 2px;
        }
        .bubbles img:nth-child(7){
            animation-delay: 1s;
            width: 6px;
        }
        .bubbles img:nth-child(8){
            animation-delay: 6s;
            width: 7px;
        }
        .bubbles img:nth-child(9){
            animation-delay: 4s;
            width: 4px;
        }
        .bubbles img:nth-child(10){
            animation-delay: 2.5s;
            width: 6px;
        }
        .bubbles img:nth-child(11){
            animation-delay: 5.6s;
            width: 4px;
        }
        

        .bubbles img:nth-child(12){
            animation-delay: 4.1s;
            width: 7px;
        }
        .bubbles img:nth-child(13){
            animation-delay: 3.7s;
            width: 5px;
        }
        .bubbles img:nth-child(14){
            animation-delay: 8s;
            width: 3px;
        }
        .bubbles img:nth-child(15){
            animation-delay: 2s;
            width: 4px;
        }
        .bubbles img:nth-child(16){
            animation-delay: 3.1s;
            width: 7px;
        }
        .bubbles img:nth-child(17){
            animation-delay: 5.5s;
            width: 2px;
        }
        .bubbles img:nth-child(18){
            animation-delay: 3.6s;
            width: 5px;
        }
        .bubbles img:nth-child(19){
            animation-delay: 4.9s;
            width: 8px;
        }
        .bubbles img:nth-child(20){
            animation-delay: 1.5s;
            width: 3px;
        }
        .bubbles img:nth-child(21){
            animation-delay: 1s;
            width: 6px;
        }
        .bubbles img:nth-child(22){
            animation-delay: 3.3s;
            width: 5px;
        }

        
/* -------------------- End Bobbles  ------------------------------------- */





@media (max-width: 1000px){

  
    
    .side-bar{
        left: 5px;
    }

    .social-media{ 
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .logo{
        width: 100px;
        align-self: flex-start;
        margin-top: 55px;
    }

    
    /* ------------------------ Nav Bar --------------------------------  */
   
    ul{
        display: block;
        background: #0e2d33be;
        width: 180px;
        height: 100vh;
        padding: 55px 5px;
        position: absolute;
        right: 0px;
        top: 0px;
        overflow: hidden;
        box-sizing: border-box;
        font-size: 14px;
    }
    ul li{
        padding-bottom: 40px;
    }
    ul li a{
        color: white;
        text-decoration: none;
        list-style: none;
    }

    #navBtn{
        padding: 8px 8px;
        border-radius: 25px;
        width: 100px;
        position: absolute;
        top: 55%;
        right: 55px;
    }
    #linkBtn{
        display: block;
        width: 20px;
        position: fixed;
        top: 30px;
        right: 30px;
        z-index: 8;
    }

    /* ------------------------ container --------------------------------  */


    /* ------------------------ Container -------------------------------- */ 


    .container{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 18%;
    }
    .container small{
        color:#d9dbee;
        letter-spacing: 2px;
        margin-left: 0px;
        max-width: 320px;
    }
    .container span{
        font-size: 40px;
        font-weight: 500;
    }  

    .container h1{
        font-weight: 300;
        font-size: 25px;
        line-height: 35px;
    }

    .container{
        z-index: -1;
    }
    
    .hero{
        z-index: -2;
      }


    .fa{
        width: 10px;
        height: 10px;
        border: none;
        margin: 3px 3px;
    }
   
}